
.relative {
 padding: 20px;
 position: relative;
 background-color: #9370DB;
 margin: 20px;
} 
.navitem {
  display: inline-block;
  width: 100px; 
  height: 30px; 
  text-align: center;
  border: #ffffff;
  background-color: #191970;
  color: #fff;
  cursor: context-menu;
  font-weight: 500;
}
.body {
 color: #FFE4E1;
}
.h1 {
 font-family: "Lucida Console", monospace;
}
.p {
 font-family: "Lucida Console", "Courier New", monospace;
}
