
.relative {
 padding: 15px;
 position: relative;
 background-color: #9370DB;
 margin: 15px;
} 
.navitem {
  display: inline-block;
  width: 80px; 
  height: 25px; 
  text-align: center;
  border: #ffffff;
  background-color: #FFF8DC;
  color: #fff;
  cursor: context-menu;
  font-weight: 500;
}
